### 01:Python List

In [3]:
# python range function start from "0" end with "10-1"
L = list(range(10))
L

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
type(L[0]) # check type

int

In [7]:
# transform a list of integer into string 
L2 = [str(c) for c in L]
L2

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [8]:
L3 = [True, "2", 3.0, 4]
[type(items) for items in L3]

[bool, str, float, int]

In [10]:
import numpy as np

In [13]:
# nested lists result in multi-dimensional arrays
np.array([range(i, i + 3) for i in [2, 4, 6]])

array([[2, 3, 4],
       [4, 5, 6],
       [6, 7, 8]])

In [15]:
import array 
L = list(range(10))
A = array.array('i', L)
A

array('i', [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [16]:
# Create a length-10 integer array filled with zeros
np.zeros(10, dtype = int)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [18]:
# Create a 3x5 floating-point array filled with ones
np.ones([3, 5], dtype = float)

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [19]:
# Create a 3x5 array filled with 3.14
np.full([3, 5], 3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [21]:
# Create an array filled with a linear sequence
# Starting at 0, ending at 20, stepping by 2
np.arange(0, 20, 2)

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [22]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [23]:
# Create a 3x3 array of uniformly distributed
# random values between 0 and 1
np.random.random((3, 3))

array([[0.08166039, 0.1537547 , 0.19040109],
       [0.67797931, 0.97893783, 0.50396332],
       [0.19725733, 0.88443725, 0.9610936 ]])

In [24]:
# Create a 3x3 array of normally distributed random values
# with mean 0 and standard deviation 1
np.random.normal(0, 1, (3, 3))

array([[-1.89732769,  0.17159118, -0.25573379],
       [ 0.63195656, -0.39946796,  1.17267834],
       [ 0.83131314, -0.2255596 , -0.87438661]])

In [25]:
# Create a 3x3 array of random integers in the interval [0, 10]
np.random.randint(0, 10, (3, 3))

array([[6, 2, 6],
       [2, 7, 1],
       [2, 6, 2]])

In [26]:
# Create a 3x3 identity matrix
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### NumPy Array Attributes

In [28]:
import numpy as np
# seed for reproducibility
np.random.seed(0)

x1 = np.random.randint(10, size = 5)
x2 = np.random.randint(10, size = (3, 4))
x3 = np.random.randint(10, size = (3, 4, 5))

Each array has attributes ndim (the number of dimensions), shape (the size of each dimension), and size (the total size of the array):

In [31]:
print('x3 ndim: ', x3.ndim)
print('x3 shape: ', x3.shape)
print('x3 size: ', x3.size)

x3 ndim:  3
x3 shape:  (3, 4, 5)
x3 size:  60

In [32]:
# data type
print('x3 type: ', x3.dtype)

x3 type:  int64

Other attributes include itemsize, which lists the size (in bytes) of each array element, and nbytes, which lists the total size (in bytes) of the array:

In [33]:
print('itemsize: ', x3.itemsize, 'bytes')
print('nbytes:', x3.nbytes, 'bytes')

itemsize:  8 bytes
nbytes: 480 bytes

#### Array Indexing: Accessing Single Elements

In [37]:
x2

array([[9, 3, 5, 2],
       [4, 7, 6, 8],
       [8, 1, 6, 7]])

In [38]:
x2[2, 0]

8

In [36]:
# To index from the end of the array, you can use negative indices:
x1[-1]

7

In [39]:
x2[0, 2] = 12
x2

array([[ 9,  3, 12,  2],
       [ 4,  7,  6,  8],
       [ 8,  1,  6,  7]])

### Array Slicing: Accessing Subarrays
#### One-dimensional subarrays

In [40]:
x = np.arange(10)
x

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [47]:
# First five elements
x[ :5]

array([0, 1, 2, 3, 4])

In [48]:
# elements after index 5
x[5: ]

array([5, 6, 7, 8, 9])

In [49]:
# middle sub-array
x[4: 7]

array([4, 5, 6])

In [50]:
# every other element (step 2)
x[: : 2]

array([0, 2, 4, 6, 8])

In [51]:
# every other element, starting at index 1 (step 2)
x[1: : 2]

array([1, 3, 5, 7, 9])

In [53]:
# all elements, reversed
x[: : -1]

array([9, 8, 7, 6, 5, 4, 3, 2, 1, 0])

In [54]:
# reversed every other from index 5 (step 2 from the end)
x[5: : -2]

array([5, 3, 1])

#### Multi-dimensional subarrays

In [55]:
x2

array([[ 9,  3, 12,  2],
       [ 4,  7,  6,  8],
       [ 8,  1,  6,  7]])

In [57]:
# two rows, three columns (row index: 0, 1; column index: 0, 1, 2)
x2[:2, :3]

array([[ 9,  3, 12],
       [ 4,  7,  6]])

In [59]:
# all rows, every other column (row index: 0, 1, 2;column index: 0, 2)
x2[:3, ::2]

array([[ 9, 12],
       [ 4,  6],
       [ 8,  6]])

In [60]:
# Finally, subarray dimensions can even be reversed together:
x2[::-1, ::-1]

array([[ 7,  6,  1,  8],
       [ 8,  6,  7,  4],
       [ 2, 12,  3,  9]])

Accessing array rows and columns

In [61]:
# first column of x2
x2[:, 0]

array([9, 4, 8])

In [63]:
# first row of x2
x2[0, :]

array([ 9,  3, 12,  2])

In [65]:
# first row of x2
x2[0]

array([ 9,  3, 12,  2])

Reshaping of Arrays

In [68]:
grid = np.arange(1, 10).reshape(3, 3)
grid

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

### Array Concatenation and Splitting
#### Concatenation of arrays

In [69]:
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
np.concatenate([x, y])

array([1, 2, 3, 3, 2, 1])

In [70]:
z = [99, 99, 99]
print(np.concatenate([x, y, z]))

[ 1  2  3  3  2  1 99 99 99]

In [72]:
grid = np.array([[1, 2, 3],
                 [4, 5, 6]])
# concatenate along the first axis
np.concatenate([grid, grid])

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [73]:
# concatenate along the second axis (zero-indexed)
np.concatenate([grid, grid], axis = 1)

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [74]:
x = np.array([1, 2, 3])
grid = np.array([[9, 8, 7],
                 [6, 5, 4]])

# vertically stack the arrays
np.vstack([x, grid])

array([[1, 2, 3],
       [9, 8, 7],
       [6, 5, 4]])

In [75]:
# horizontally stack the arrays
y = np.array([[99],
              [99]])
np.hstack([y, grid])

array([[99,  9,  8,  7],
       [99,  6,  5,  4]])

#### Splitting of arrays

In [84]:
x = [1, 2, 3, 99, 99, 3, 2, 1]
x1, x2, x3 = np.split(x, [3, 5])
print(x1, x2, x3)

[1 2 3] [99 99] [3 2 1]

In [86]:
grid = np.arange(16).reshape((4, 4))
grid

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [88]:
upper, lower = np.vsplit(grid, [2])
print(upper)
print(lower)

[[0 1 2 3]
 [4 5 6 7]]
[[ 8  9 10 11]
 [12 13 14 15]]

In [89]:
left, right = np.hsplit(grid, [2])
print(left)
print(right)

[[ 0  1]
 [ 4  5]
 [ 8  9]
 [12 13]]
[[ 2  3]
 [ 6  7]
 [10 11]
 [14 15]]

In [91]:
# Absolute Value
x = np.array([-2, -1, 0, 1, 2])
abs(x)

array([2, 1, 0, 1, 2])

### Trigonometric functions

In [93]:
theta = np.linspace(0, np.pi, 3)
print("theta      = ", theta)
print("sin(theta) = ", np.sin(theta))
print("cos(theta) = ", np.cos(theta))
print("tan(theta) = ", np.tan(theta))

theta      =  [0.         1.57079633 3.14159265]
sin(theta) =  [0.0000000e+00 1.0000000e+00 1.2246468e-16]
cos(theta) =  [ 1.000000e+00  6.123234e-17 -1.000000e+00]
tan(theta) =  [ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]

In [94]:
x = [-1, 0, 1]
print("x         = ", x)
print("arcsin(x) = ", np.arcsin(x))
print("arccos(x) = ", np.arccos(x))
print("arctan(x) = ", np.arctan(x))

x         =  [-1, 0, 1]
arcsin(x) =  [-1.57079633  0.          1.57079633]
arccos(x) =  [3.14159265 1.57079633 0.        ]
arctan(x) =  [-0.78539816  0.          0.78539816]

### Exponents and logarithms

In [95]:
x = [1, 2, 3]
print("x     =", x)
print("e^x   =", np.exp(x))
print("2^x   =", np.exp2(x))
print("3^x   =", np.power(3, x))

x     = [1, 2, 3]
e^x   = [ 2.71828183  7.3890561  20.08553692]
2^x   = [2. 4. 8.]
3^x   = [ 3  9 27]

In [96]:
x = [1, 2, 4, 10]
print("x        =", x)
print("ln(x)    =", np.log(x))
print("log2(x)  =", np.log2(x))
print("log10(x) =", np.log10(x))

x        = [1, 2, 4, 10]
ln(x)    = [0.         0.69314718 1.38629436 2.30258509]
log2(x)  = [0.         1.         2.         3.32192809]
log10(x) = [0.         0.30103    0.60205999 1.        ]

In [97]:
x = [0, 0.001, 0.01, 0.1]
print("exp(x) - 1 =", np.expm1(x))
print("log(1 + x) =", np.log1p(x))

exp(x) - 1 = [0.         0.0010005  0.01005017 0.10517092]
log(1 + x) = [0.         0.0009995  0.00995033 0.09531018]

#### Specialized ufuncs

In [98]:
from scipy import special

In [99]:
# Gamma functions (generalized factorials) and related functions
x = [1, 5, 10]
print("gamma(x)     =", special.gamma(x))
print("ln|gamma(x)| =", special.gammaln(x))
print("beta(x, 2)   =", special.beta(x, 2))

gamma(x)     = [1.0000e+00 2.4000e+01 3.6288e+05]
ln|gamma(x)| = [ 0.          3.17805383 12.80182748]
beta(x, 2)   = [0.5        0.03333333 0.00909091]

In [101]:
# Error function (integral of Gaussian)
# its complement, and its inverse
x = np.array([0, 0.3, 0.7, 1.0])
print("erf(x)  =", special.erf(x))
print("erfc(x) =", special.erfc(x))
print("erfinv(x) =", special.erfinv(x))

erf(x)  = [0.         0.32862676 0.67780119 0.84270079]
erfc(x) = [1.         0.67137324 0.32219881 0.15729921]
erfinv(x) = [0.         0.27246271 0.73286908        inf]

Aggregates

In [102]:
x = np.arange(1, 6)
np.add.reduce(x)

15

In [103]:
np.multiply.reduce(x)

120

In [104]:
np.add.accumulate(x)

array([ 1,  3,  6, 10, 15])

In [105]:
np.multiply.accumulate(x)

array([  1,   2,   6,  24, 120])

Outer products

In [109]:
x = np.arange(1, 6)
np.multiply.outer(x, x)

array([[ 1,  2,  3,  4,  5],
       [ 2,  4,  6,  8, 10],
       [ 3,  6,  9, 12, 15],
       [ 4,  8, 12, 16, 20],
       [ 5, 10, 15, 20, 25]])

### Aggregations: Min, Max, and Everything In Between

In [1]:
import pandas as pd 
data = pd.read_csv('data/president_heights.csv')
data.head()

   order               name  height(cm)
0      1  George Washington         189
1      2         John Adams         170
2      3   Thomas Jefferson         189
3      4      James Madison         163
4      5       James Monroe         183

In [3]:
import numpy as np
heights = np.array(data['height(cm)'])
heights

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 168, 170, 178, 182, 180,
       183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188,
       188, 182, 185])